*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body,html{
    font-family: Arial, sans-serif;
    line-height: 1.6;
    width: 100%;
    height: 100%;
    padding: auto;
    /* overflow-y: hidden; */
}
body h1{
    text-align: center;
    margin: 20px;
    color: rgb(198, 194, 194);
    font-size: 50px;
    font-weight: 700;
}
main{
    height: fit-content;
    width: 100%;
    /* overflow-y: hidden  ; */
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    background-color: rgb(203, 199, 194);
    padding: 10px;
    gap: 15px; 
    flex-wrap: wrap;
}

.card{
    margin-top: 30px;
    cursor: pointer;
    padding: 40px;
    height: 400px;
    background-color: black;
    padding: 20px;
    color: aquamarine;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
}
.card img{
    object-fit: cover;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.2)  ;
}
.card h2{
    margin-top: 15px;
    margin-bottom: 10px;
    white-space: nowrap;
}
.card h3{
    margin-bottom: 15px;
    color: gray;
     white-space: nowrap;
}
.card p{
    line-height: 1.5;
    color: #555;
     white-space:wrap;
}
.card:hover{
    transform: scale(1.05);
    transition: transform 0.3s ease;

}